<header class="header-container container-1440">
  <img
    (click)="dataService.goToHome()"
    class="logo-img"
    src="logo-stuberforms.png"
    alt="STUBERFORMS Logo"
  />

  <nav class="nav-links">
    <p (click)="dataService.goTo3dDruck()">3D Druck</p>
    <p (click)="dataService.goToIt()">IT-Services</p>
    <p (click)="dataService.openExternal('https://dev.stuberforms.ch/')">
      Weblösungen
    </p>
    <p (click)="dataService.goToAbout()">Über uns</p>
    <p (click)="dataService.goToContact()">Kontakt</p>
  </nav>

  <nav *ngIf="dataService.isMenuOpen" class="mobile-nav">
    <button
      class="burger-button"
      type="button"
      aria-label="Menü"
      [attr.aria-expanded]="dataService.open"
      [class.active]="dataService.open"
      (click)="dataService.toggle()"
    >
      <span></span>
      <span></span>
      <span></span>
    </button>
  </nav>
</header>

<div
  class="mobile-menu-container"
  [class.open]="dataService.isMenuOpen && dataService.open"
>
  <p (click)="dataService.goTo3dDruck(); dataService.toggle()">3D Druck</p>
  <p (click)="dataService.goToIt(); dataService.toggle()">IT-Services</p>
  <p
    (click)="
      dataService.openExternal('https://dev.stuberforms.ch/');
      dataService.toggle()
    "
  >
    Weblösungen
  </p>
  <p (click)="dataService.goToAbout(); dataService.toggle()">Über uns</p>
  <p (click)="dataService.goToContact(); dataService.toggle()">Kontakt</p>
</div>

<footer class="container-1440 footer-container">
  <p (click)="dataService.goToImprint()">Impressum</p>
  <p (click)="dataService.goToAGB()">AGB</p>
  <p (click)="dataService.goToPolicy()">Datenschutz</p>
  <p (click)="dataService.goToContact()">Kontakt</p>
  <p
    role="link"
    tabindex="0"
    class="clickable"
    (click)="dataService.openExternal('https://www.instagram.com/stuberforms/')"
  >
    Instagram
  </p>
</footer>
