.impressum-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.impressum-content-container {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 32px;
  > p {
    font-size: 18px;
    font-weight: 600;
    color: black;
  }
  > a {
    text-decoration: none;
    color: black;
    cursor: pointer;
  }
}

.imprint-links {
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  transition: color 0.3s ease;
}

.imprint-links:hover {
  color: #f66759 !important;
}
